@charset "utf-8";

.card {
  border: 1px solid #ccc;
  box-sizing: border-box;
  padding: 16px;
  max-width: 600px;
  margin: 0 auto;

  h2 {
    margin: 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
    font-size: 18px;
    padding-bottom: 8px;

    @media (width >= 600px) {
      text-align: left;
      color: red;
    }
  }

  p {
    margin: 16px 0 0;
    line-height: 1.6;
  }

  &:hover {
    box-shadow: 0 0 8px rgb(0 0 0 / 0.3);
  }
}
